<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.69.2" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" requireReinstallation="True" />
</packages>